.hero_main {
    background-color: var(--primary-color);
    scroll-snap-align: start;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9em;
}

.hero_container .hero_h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(18px, 4vw, 80px);
}

.hero_container .hero_h1:last-child {
    color: #fff;
    text-transform: uppercase;
    z-index: 3;
    transform: scale(1, 1.5);
    font-size: clamp(1vw, 19.5vw, 35vh);
}

.hero_container img {
    position: absolute;
    height: 500px;
    top: 5em;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media (max-width: 640px) {
    .hero_main {
        background-color: var(--primary-color);
    }

    .hero_container {
        display: none;
    }

    .hero_container_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 2rem;

        position: relative;
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }

    .hero_container_mobile img {
        position: absolute;
        width: 100vw;
        height: 90vh;
        object-fit: cover;
    }

    .content_box {
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4em;
    }

    .content_box .top_text {
        font-size: clamp(1.3rem, 2vw + 1rem, 2.4rem);
    }

    .content_box .bottom_text {
        font-size: 4rem;
        text-transform: uppercase;
        transform: scale(1, 1.4);
        font-size: clamp(2rem, 12vw + 1.5rem, 6.2rem)
    }

    .discover_button {
        z-index: 99;
        background-color: var(--primary-color);
        padding: 0.5em 0.8em;
        color: #fff !important;
        border-radius: 0.15em;
        cursor: pointer;
        box-shadow: 1px 1px 9px #6e2c0b;
        transition: transform 0.3s ease-in-out;
        font-weight: 500 !important;
        font-size: 1.05rem;
        text-align: center;
        width: 130px;
        margin-top: 5.6em;
    }

    .discover_button:hover {
        transform: scale(1.03);
    }
}