.hero_main {
    height: 100vh;
    background-color: var(--primary-color);
    padding-top: 80px;
    scroll-snap-align: start;
}

.hero_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9em;
}

.hero_container .hero_h1 {
    font-size: 4.8em;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container .hero_h1:last-child {
    text-transform: uppercase;
    z-index: 3;
    font-size: 14em;
    transform: scale(1, 1.5);
}

.hero_container img {
    position: absolute;
    height: 500px;
    top: 5em;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero_container .hero_h1 {
        font-size: 3.2em;
    }

    .hero_container .hero_h1:last-child {
        font-size: 12em;
        transform: scale(1, 1.5);
    }

    .hero_container {
        /* gap: 4em; */
        margin-top: 2em;
        align-items: center;
        justify-content: center;
    }

    .hero_container img {
        height: 100vh / 2;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_main {
        height: 80vh;
    }

    .hero_container .hero_h1 {
        font-size: 2.4em;
    }

    .hero_container .hero_h1:last-child {
        font-size: 7em;
        transform: scale(1, 1.5);
    }

    .hero_container {
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

    .hero_container img {
        height: 250px;
    }

}


@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero_main {
        height: 70vh;
    }

    .hero_container .hero_h1 {
        font-size: 1.8em;
    }

    .hero_container .hero_h1:last-child {
        font-size: 5em;
        transform: scale(1, 1.5);
    }

    .hero_container {
        align-items: center;
        justify-content: center;
        gap: 5em;
    }

    .hero_container img {
        height: 250px;
    }
}