.notFound_main {
    background-color: #fff;
    width: 100%;
}

.text404 {
    height: 60vh;
    font-size: 3.8em;
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}