.favorites_main {
    height: 100vh;
    scroll-snap-align: start;
    font-family: var(--primary-font);
}

.favorites_container {
    margin: 1em 0.8em;
    background-color: #fff;
    color: var(--secondary-color);
}

.favorites_container h1 {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 1.8em;
    margin-bottom: 1em;
    font-weight: 600;
}

.favorites_container .favorites_noData {
    background-color: #fff;
    box-shadow: 0 0 15px #e3e3e3;
    padding: 3em 2em;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites_noData p {
    font-weight: 600;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .favorites_container {
        margin: 1em 0;
    }

    .favorites_container h1 {
        font-size: 1.5em;
        margin-left: 0.5em;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {

    .favorites_container {
        margin: 1em 0;
    }

    .favorites_container h1 {
        font-size: 1.5em;
        margin-left: 0.5em;
    }
}