.card_container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: var(--primary-font);
    padding: 1.2em;
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    width: 250px;
}

.card_container:hover {
    background-color: #ff9100d4;
}

.card_container img {
    height: 220px;
    width: 220px;
    border-radius: 2px;
}

.card_container .card_mealName {
    font-weight: 600;
    text-align: center;
    padding: 0.5em 0.5em 0 0.5em;
    color: #fff;
}

.card_container .card_mealSaved{
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.card_container .card_favbutton {
    margin-top: 0.8em;
    background-color: #FFF;
    padding: 0.2em;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 0.5em;
    transition: 0.3s ease-in-out;
}

.card_container .card_favbutton:hover {
    background-color: #dfdfdf;
}

.yes_favourite {
    background-color: #dfdfdf !important;
    cursor: default;
}

.card_container .card_favbutton img {
    height: 20px;
    width: 20px;
}

.card_container .card_favbutton p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
}