.card_container {
  cursor: pointer;
  font-family: var(--primary-font);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  border: 1px solid #61060036;
  padding: 1em;
  width: min-content;
}

.card_container .cardImgWrapper {
  height: 220px;
  width: 220px;
  border-radius: 2px;

  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.cardImgWrapper img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 4px;
}

.card_container:hover .cardImgWrapper img {
  transform: scale(1.5);
}

.card_container .card_mealName {
  font-weight: 600;
  text-align: center;
  padding: 0.5em 0.5em 0 0.5em;
  color: var(--secondary-color);
  text-overflow: clip;
}

.card_container .card_mealSaved {
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.card_container .card_favbutton {
  margin-top: 0.8em;
  background-color: #dfdfdf;
  padding: 0.2em;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 0.5em;
  transition: 0.3s ease-in-out;
}

.card_container .card_favbutton:hover {
  background-color: #dfdfdf;
}

.yes_favourite {
  background-color: #dfdfdf !important;
  background-color: var(--primary-color) !important;
  cursor: pointer;
}

.yes_favourite p {
  color: #fff !important;
}

.card_container .card_favbutton img {
  height: 20px;
  width: 20px;
}

.card_container .card_favbutton p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
}


@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media (min-width:430px) and (max-width:640px) {

  .card_container {
    padding: 0.7em;
  }

  .card_container .cardImgWrapper {
    height: 195px;
    width: 195px;
  }
}

@media (max-width:429px) {
  .card_container {
    padding: 0.6em;
  }

  .card_container .cardImgWrapper {
    height: 140px;
    width: 140px;
  }
}