.card_container {
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: var(--primary-color);
}

.card_container:hover{
    transform: scale(1.02);
}

.card_container img {
    height: 220px;
    width: 220px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card_container .card_mealArea {
    position: absolute;
    right: 1em;
    bottom: 3em;
    background-color: #fff;
    color: var(--secondary-color);
    font-weight: 500;
}

.card_container .card_mealName {
    font-weight: 500;
    /* border: 1px solid var(--secondary-color); */
    text-align: center;
    background-color: var(--primary-color);
    padding: 0.5em 0.5em 1em 0.5em;
}