.nav_main {
    padding: 1em 0;
    background-color: var(--primary-color);
    height: 80px;
    transition: 0.3s;
}

.nav_main ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.8em;
}

.nav_main ul li {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0.8em;
    color: var(--secondary-color);
}

.nav_main ul li:nth-child(3) {
    font-family: var(--logo-font);
    font-size: 2.1em;
    text-transform: uppercase;
    cursor: default;
    color: var(--secondary-color);
}

.nav_main ul li:last-child {
    background-color: var(--secondary-color);
    padding: 0.5em 0.8em;
    color: #fff;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 1px 1px 9px #cf7d12;
    transition: transform 0.3s ease-in-out;
    font-weight: 500;
}

.nav_main ul li:last-child:hover {
    transform: scale(1.03);
}