.nav {
    width: 100%;
    padding: 1em 0;
    /* position:fixed; */
    top: 0;
    transition: top 0.3s;
    z-index: 100;
    background-color: var(--primary-color);
}

.nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.8em;
}

.nav_list .li_item {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0.8em;
    color: var(--secondary-color);
}

.nav_list #culina_share {
    font-family: var(--logo-font);
    font-size: 2.1em;
    text-transform: uppercase;
    cursor: default;
    color: var(--secondary-color);
}

.fav_btn_text {
    background-color: var(--secondary-color);
    padding: 0.5em 0.8em;
    color: #fff !important;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 1px 1px 9px #dddddd56;
    transition: transform 0.3s ease-in-out;
    font-weight: 500 !important;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.fav_btn_text:hover {
    transform: scale(1.03);
}

.nav_mobile,
.nav_list_mobile {
    display: none;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    top: 2.5rem;
    right: 13px;
    border-radius: 2px;
}

.dropdownContent ul {
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    display: block;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdownItem:hover {
    background-color: #e1840a;
    border-radius: 2px;
}

.logoutItem {
    border-top: 1px solid #d07703;
}

.showDropdownMenu {
    display: block;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav_list #culina_share {
        font-size: 1.8em;
        display: inline-flex;
    }

    .nav_list {
        gap: 1em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav_list #culina_share {
        font-size: 1.5em;
    }

    .nav_list {
        gap: 4px;
    }

    .nav_list .li_item {
        font-size: 15px;
        margin: 0;
    }

}

@media (max-width:640px) {
    .nav_list {
        display: none;
    }

    .nav_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.2em;
        color: var(--secondary-color);
    }

    .nav_mobile:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 1px;
        background-color: #cc730038;
        transform: translateX(-50%);
    }

    .nav_mobile p {
        font-family: var(--logo-font);
        font-size: 1.4em;
        text-transform: uppercase;
        cursor: default;
    }

    .nav_mobile span {
        cursor: pointer;
        transform: scale(2);
    }

    .nav_list_mobile {
        background-color: var(--primary-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
        gap: 1em;
    }

    .nav_list_mobile #li_home_mobile {
        margin-top: 1em;
    }

    .nav_list_mobile li {
        padding: 1em 0;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0.8em;
        color: var(--secondary-color);
    }

    .nav_list_mobile #li_sign_mobile {
        background-color: var(--secondary-color);
        padding: 0.5em 0.8em;
        color: #fff !important;
        border-radius: 0.3em;
        cursor: pointer;
        box-shadow: 1px 1px 9px #dddddd56;
        transition: transform 0.3s ease-in-out;
        font-weight: 500 !important;
    }

    .nav_list_mobile #li_sign_mobile:hover {
        transform: scale(1.02);
    }

    .close {
        display: none;
    }

    .x_size {
        transform: scale(1.6) !important;
    }
}